*

!.gitignore
!main.cf
!master.cf
!main.cf.bak
!master.cf.bak
!pgsql
!pgsql/*

!sasl_password.example
!client_check
!sender_bcc
!sender_relay
!transport
!transport.bak
!vmail_aliases.example
!vmail_domains.example
!vmail_mailbox.example
